
.img-container{
    
   
}
.card {
    border: hidden;
    width:30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
    transition: 0.3s;
    
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
    cursor: pointer;
}
.all-items{
    display: flex;
    justify-content: center;
    gap: 3%;
    flex-wrap: wrap;
    row-gap: 20px;
}
.title{
    padding: 2%;
}
.card-footer{
    margin-bottom: 0%;
}

.hero{
    padding:5%;
    display:flex;
    justify-content: space-between;
    
}
.welcome{
    padding :5%;
}
nav{
    background-color: rgb(196, 150, 26);
    display: flex;
    gap:50%;
    align-items: center;
    color: #fff;
}


nav a{
    text-decoration: none;
    font-weight: bold;
    margin-left: 10%;
    
}
.nav-wrapper{
    text-decoration: none;
    padding: 2%;
    
   
}


.text{
    padding: 15px;
}
.footer{
    background-color: rgb(196, 150, 26);
    margin-top:2%;
    margin-bottom: 0px;
}
.locations{
    display: flex;
    justify-content: center;
    gap:10px;
}
.loc-container{
    padding: 15px;
}
strong{
    color: rgb(196, 150, 26);
}
.location-height{
    min-height: 100%;
}
.modal img{
    width:100%;
}
.modal #link{
    overflow: auto;
}