
.img-container{
    
   
}
.card {
    border: hidden;
    width:30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
    transition: 0.3s;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
    cursor: pointer;
}
.all-items{
    display: flex;
    justify-content: center;
    gap: 3%;
}
.title{
    padding: 2%;
}
.card-footer{
    margin-bottom: 0%;
}
nav{
    background-color: rgb(78, 78, 37);
    justify-content: space-between;
}

.navbar{
    color:#fff;
}
.hero{
    padding:5%;
    display:flex;
    
    
}
.welcome{
    padding :5%;
}
.nav {
    color:red;
    display: flex;
    flex-direction: row;
    margin-left: 0% auto;
    justify-content: space-between;
}
.ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}