{%extends 'base.html'%}

{% block content %}
{{block.super}}
<div>
    <h3>Hello welcome to La-gallarie</h3>
</div>
<div class="img-container">

    {% for item in image%}
    <div class="images">
        <h5 class="text-center"> {{ item.name }} </h5>
        <img style=width:100% src="{{ item.image.url }}" class="img-responsive image" alt="{{item.name}}">
    
       <div class="details">
          <p>Posted: {{item.date_added|timesince}}</p>

          {% empty %}
         <div class="row">
          <h2 class="text-center">No images present</h2>
          </div>
        {% endfor %}
       </div>
    </div>
    
</div>
{% endblock %}