{%extends 'base.html'%}

{% block content %}
{{block.super}}
<div>
  <div class="hero">
    <h3>Hello welcome to La-gallarie</h3>
  </div>
  <div class="row container-fluid all-items">
    {% for item in image%}
        <div class = "col-md-3 card" data-toggle ="modal" data-target="#showPictureModal{{photo.id}}">
            <h5>{{item.name}}</h5>

            <img src="{{item.image.url}}" alt="{{item.name}}" class="img-responsive">
            <p>Posted on: {{item.date_added}} </p>
        </div>
  {%endfor%}
  

  </div>
  
</div>
{% endblock %}