{%extends 'art/base.html'%}

{% block content %}
{{block.super}}
<div>
  <div class="hero">
    <h3> Art - <strong>gallarie</strong></h3>
      <!-- Adding a search form  -->
      <div class="col-sm-4 col-md-4 position">

        <form class="navbar-form" role="search" action="{%  url 'search_results' %}">

          <div class="input-group">
            <p>Search using categories : painting, sculpture or architecture</p>
            <input type="text" class="form-control" placeholder="Search art: use painting, sculputre or architecture" name="art">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit">search <i class="fa-brands fa-searchengin"></i></button>
            </div>
          </div>

        </form>
      </div>
      <!-- search form end -->
  </div>
  <div class=" loc-container container-fluid">

    <p align="center"><b>Filter by country:</b> </p>

    <div class="locations">
      {%for item in location%}
      <a class="loc" href="/location/{{item.id}}"><button type="button" class="btn btn-outline-success">{{item.name}}</button></a>
      {%endfor%}
    </div>

  </div>
  <div class="row container-fluid all-items">
    {% for item in image%}
        <div class = "col-md-3 card" data-bs-toggle ="modal" data-bs-target="#ModalCenter{{item.id}}">
            <h5 class="title">{{item.name}}</h5>

            <img src="{{item.image.url}}" alt="{{item.name}}" class="img-responsive">
            <p= class="card-footer">Posted on: {{item.date_added}} </p>
        </div>
   
    <div class="modal fade container "  id="ModalCenter{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">{{item.name}}</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body container" >
            <img src="{{item.image.url}}" alt="{{item.name}}" class="img-responsive">
          </div>
          <div class="modal-body">
            <p>{{item.description}}</p>
          
              <p>Image link : </p>
              <input type="text" id="link" value="{{item.image.url}}" >
              <button onclick="copyToClipboard()" type="button" class="btn btn-outline-success">copy <i class="fa-light fa-copy"></i></button>
            
              <p>Location : {{item.location}}</p>
              <p>Category : {{item.category}}</p>
            
              <script>
                function copyToClipboard() {
                      /* Get the text field */
                      var copyText = document.getElementById("link");

                      /* Select the text field */
                      copyText.select();
                      copyText.setSelectionRange(0, 99999); /* For mobile devices */

                       /* Copy the text inside the text field */
                      navigator.clipboard.writeText(copyText.value);

                      /* Alert the copied text */
                      alert("Copied the image link: " + copyText.value);
                    }
                </script>
            
          </div>
        </div>
      </div>
    </div>
    
    {%endfor%}
      
    
  </div>
  <script>

    function CopyToClipboard(id)
    {
    var r = document.createRange();
    r.selectNode(document.getElementById(id));
    window.getSelection().removeAllRanges();
    window.getSelection().addRange(r);
    document.execCommand('copy');
    window.getSelection().removeAllRanges();
    }
 </script>




  
</div>
{% endblock %}