{%extends base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if photo %}
      <h2>Found {{ photo|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 articles for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if photo %}
  {% for item in photo%}
  <div class = "col-md-3 card" data-toggle ="modal" data-target="#showPictureModal{{item.id}}">
      <h5 class="title">{{item.name}}</h5>

      <img src="{{item.image.url}}" alt="{{item.name}}" class="img-responsive">
      <p= class="card-footer">Posted on: {{item.date_added}} </p>
  </div>
{%endfor%}
  {% endif %}
  </div>
</div>
{% endblock %}